body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom right, red, yellow);
  min-height: 100vh;
}

a {
  color: #00B7FF;
}

h1 {
  color: rgb(32, 15, 15);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bigBoi {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}